@page "/"

<PageTitle>DOIT Avatar bot</PageTitle>
<div class="wip-background">
    <div class="wip-background-shade">
        <div class="centered-content">
            <div>
                This page will be available with the workshop fest start
            </div>
            <div class="logo">
                <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 461.61 124.56" viewBox="0 0 461.61 124.56" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid-3got5qdpv6zs">
                    <title id="svgcid-3got5qdpv6zs"></title>
                    <g>
                        <g>
                            <path d="M200.59 0a62.28 62.28 0 1 0 62.28 62.27A62.35 62.35 0 0 0 200.59 0m30.92 62.27a30.92 30.92 0 1 1-30.92-30.91 31 31 0 0 1 30.92 30.91" fill="#1773f5" data-color="1"></path>
                            <path fill="#1773f5" d="M325.69.07v124.4h-31.43V.07h31.43z" data-color="1"></path>
                            <path fill="#1773f5" d="M357.08.07v31.05h36.55v93.35h31.43V31.12h36.55V.07H357.08z" data-color="1"></path>
                            <path d="M51.66.07H0v124.4h51.66a62.2 62.2 0 1 0 0-124.4M82.89 62.2a31.27 31.27 0 0 1-31.23 31.23H31.43V31.12h20.23A31.19 31.19 0 0 1 82.89 62.2" fill="#1773f5" data-color="1"></path>
                        </g>
                    </g>
                </svg>
            </div>
            <a href="http://www.doit.it" target="_blank">About</a>
        </div>
    </div>
</div>